body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  background: #222;
  background: src("images/dark_wood_pattern.jpg");
  color: #eee;
  width: 100%;
  position: fixed;
}

body * {
  font-weight: normal;
}

body * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 1rem;
}
